.app-title {
  font-size: 24px;
}

.box-title {
  font-size: 20px;
}

.box-container {
  box-sizing: border-box;
  width: 800px;
  height: 535px;
  max-width: 90%;
  max-height: 90%;
  padding: 24px;
  margin: 24px auto;
  border-radius: 4px;

  color: #555;
  background-color: #eee;
  box-shadow:
    0 6px 20px rgba(0, 0, 0, 0.18),
    0 6px 6px rgba(0, 0, 0, 0.25);
}

.info-container {
  padding: 12px 16px;

  line-height: 24px;
}

.action-container,
.content-container {
  overflow: auto;
  height: 300px;
  min-height: 0;
  padding: 16px 24px;
  margin: 8px 16px;
  border-radius: 4px;

  background-color: #fff;
}

.action-button {
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
  margin: 8px 0;
  border: 1px solid #555;
  border-radius: 4px;

  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.action-button:hover {
  color: #fff;
  background-color: #555;
}

.preview-content {
  line-height: 1.3;
  color: #888;
}
