<div class="font-picker" *ngIf="open" [style.height.px]="fpHeight" [style.width.px]="fpWidth" [style.top.px]="top" [style.left.px]="left" [style.position]="position">
  <div class="arrow arrow-{{fpPosition}}" [style.top.px]="arrowTop"></div>

  <div class="search-box">
    <input class="search-field" placeholder="Search from Google Web Fonts..." [formControl]="searchTerm" />

    <div class="search-reset" [hidden]="!searchTerm.value" (click)="onSearchReset($event)">×</div>
  </div>

  <perfect-scrollbar class="font-list" [config]="config">
    <div *ngIf="presetVisible && fpPresetFonts.length">
      <div class="font-group">
        <div class="group-line"></div>
        <div class="group-text">{{fpPresetLabel}}</div>
      </div>

      <div *ngFor="let fontItem of presetFonts | StatefulSlice:0:loadedFonts" class="font-item" [ngClass]="{active: fontItem.family.toLowerCase() == font.family.toLowerCase(), selected: selectedFont}" [ngStyle]="{'font-family': fontItem.family}" (click)="onSelectFont(fontItem)">
        <div class="font-info">
          <span class="font-name">{{fontItem.family}}</span>

          <div *ngIf="!fontItem.files" class="not-available">!</div>
        </div>
      </div>
    </div>

    <div class="font-group">
      <div class="group-line black"></div>
      <div class="group-text black">{{listLabel}}</div>
    </div>

    <div *ngFor="let fontItem of (currentFonts | StatefulSlice:0:loadedFonts)" class="font-item" [ngClass]="{'active': fontItem.family.toLowerCase() == font.family.toLowerCase(), selected: selectedFont}" [ngStyle]="{'font-family': fontItem.family}" (click)="onSelectFont(fontItem)">
      <div class="font-info">
        <span class="font-name">{{fontItem.family}}</span>
      </div>
    </div>
  </perfect-scrollbar>

  <div *ngIf="selectedFont && (fpStyleSelect || fpSizeSelect)">
    <div  class="font-options">
      <div *ngIf="fpStyleSelect" class="left">
        <select class="style-select" [disabled]="!font.styles" (change)="onFontStyleChange($event, font)" [(ngModel)]="font.style">
          <option *ngFor="let style of font.styles" [value]="style">{{style | FontStyles}}</option>
        </select>
      </div>

      <div *ngIf="fpSizeSelect" class="right">
        <input [ngClass]="{'size-select': fpStyleSelect}" type="number" pattern="[0-9]*" min="1" max="100" [(ngModel)]="font.size" />
      </div>
    </div>
  </div>

  <button *ngIf="fpUploadButton" type="button" class="{{fpUploadButtonClass}}" (click)="uploadFontFiles()">{{fpUploadButtonText}}</button>

  <button *ngIf="fpCancelButton" type="button" class="{{fpCancelButtonClass}}" (click)="cancelFontSelect()">{{fpCancelButtonText}}</button>
</div>
